body {
  margin: 50px;  
  background-color: darkgray;
}
table, th, td {
    border: 2px solid;
    width: fit-content;
    font-weight: 900;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
tr:hover {
    background-color: aqua;
}
td:hover {
    background-color: blanchedalmond;
}
h1 {
  color: darkblue;
  text-align: center;
  font-weight: bold;
}
